h1 Dashboard Page

div.upcomingEvents
	h2.text-center Upcoming Events
	.container-fluid
		.col-xs-12.col-sm-6.col-md-4.col-lg-4
			h3.text-center Group
		.col-xs-12.col-sm-2.col-md-1.col-lg-8
			h3.text-center Event Title {{event.name}}
		.col-xs-3.col-sm-12.col-md-3.col-lg-3
			img.img-responsive(src="//placehold.it/250x250")
		.col-xs-9.col-sm-12.col-md-12.col-lg-9
			.col-xs-9.col-sm-12.col-md-3.col-lg-12
				//img.img-responsive.img-thumbnail(src='{{event.picture}}')
			//.col-xs-9.col-sm-12.col-md-9.col-lg-9
			.col-xs-9.col-sm-12.col-md-3.col-lg-9
				img.img-thumbnail(ng-src='/images/interests/{{interest.type}}.png', ng-repeat='interest in event.interests | orderBy: "type"', tooltip='{{interest.type}}')
			.col-xs-9.col-sm-12.col-md-3.col-lg-12
				h4 Start Time {{event.startTimeDate | date:'medium'}}
			.col-xs-9.col-sm-12.col-md-3.col-lg-12
				h4 End Time {{event.endTimeDate | date:'medium'}}
			.col-xs-9.col-sm-12.col-md-3.col-lg-12
				h4 {{event.volunteerList.length}} of Y {{event.maxVolunteers}} will participate.
			.col-xs-6.col-sm-12.col-md-12.col-lg-12
				.col-xs-2.col-sm-2.col-md-2.col-lg-2(ng-repeat='volunteer in event.volunteerList')
					img.img-responsive.img-rounded(ng-src="{{volunteer.picture}}")
		
		div.organizersRow
			.hidden-xs
				.container-fluid
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						h2.text-center Participants
						.carousel.slide#profilepicCarousel(data-ride='carousel')
							.carousel-inner
								.item.active
									.row
										.col-sm-3.col-md-3.col-lg-3
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 1
										.col-sm-3.col-md-3.col-lg-3
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 2
										.col-sm-3.col-md-3.col-lg-3
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 3
										.col-sm-3.col-md-3.col-lg-3
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 4
								.item
									.row
										.col-sm-3.col-md-3.col-lg-3
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 5
										.col-sm-3.col-md-3.col-lg-3
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 6
										.col-sm-3.col-md-3.col-lg-3
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 7
										.col-sm-3.col-md-3.col-lg-3
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 8
							a.left.carousel-control(href='#profilepicCarousel', data-slide='prev')
								span.glyphicon.glyphicon-chevron-left
							a.right.carousel-control(href='#profilepicCarousel', data-slide='next')
								span.glyphicon.glyphicon-chevron-right
			.visible-xs
				.container-fluid
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.carousel.slide#profilepicCarousel-xs(data-ride='carousel')
							.carousel-inner
								.item.active
									.row
										.col-xs-6
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 1
										.col-xs-6
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 2
								.item
									.row
										.col-xs-6
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 3
										.col-xs-6
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 4
								.item
									.row
										.col-xs-6
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 5
										.col-xs-6
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 6
								.item
									.row
										.col-xs-6
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 7
										.col-xs-6
											img.img-responsive.img-thumbnail.center-item(src="//placehold.it/250x250")
											.carousel-caption
												h6 Profile Picture 8
							a.left.carousel-control(href='#profilepicCarousel-xs', data-slide='prev')
								span.glyphicon.glyphicon-chevron-left
							a.right.carousel-control(href='#profilepicCarousel-xs', data-slide='next')
								span.glyphicon.glyphicon-chevron-right
			
.row		
	.col-xs-12.col-sm-6.col-md-4.col-lg-8
		div.yourEvents
			h2.text-center Your Group Events
			.container-fluid
				.col-xs-12.col-sm-6.col-md-4.col-lg-4
					h3 Event Title
				.col-xs-4.col-sm-2.col-md-1.col-lg-4
					h3 Date
				.col-xs-4.col-sm-2.col-md-1.col-lg-4
					h3 Time
			.container-fluid(ng-repeat='e in event.yourGroupEvents')	<!--goes through the list contained in yourGroupEvents-->
				.col-xs-12.col-sm-6.col-md-4.col-lg-4
					h4 {{e.groupEventTitle}}
				.col-xs-4.col-sm-2.col-md-1.col-lg-4
					h4 {{e.date | date:'medium'}}
				.col-xs-4.col-sm-2.col-md-1.col-lg-4
					h4 {{e.time | date:'medium'}}
					
	.col-xs-12.col-sm-6.col-md-4.col-lg-4
		div.calendar

.row		
	.col-xs-12.col-sm-6.col-md-4.col-lg-8
		div.yourEvents
			h2.text-center Your Events
			.container-fluid
				.col-xs-12.col-sm-6.col-md-4.col-lg-4
					h3 Event Title
				.col-xs-4.col-sm-2.col-md-1.col-lg-4
					h3 Date {{event.yourEventsDate | date:'medium'}}
				.col-xs-4.col-sm-2.col-md-1.col-lg-4
					h3 Time {{event.yourEventsTime | date:'medium'}}
	.col-xs-12.col-sm-6.col-md-4.col-lg-4
		div.calendar
			h2 Calendar
			h3 Pick the day, and Your Events will display all events for this day.
	
			
div.history
	h2.text-center History
	.container-fluid
		
		.col-xs-12.col-sm-6.col-md-4.col-lg-12
			h3 Event Participated
		
		.col-xs-12.col-sm-6.col-md-4.col-lg-2
			img.img-responsive(src="//placehold.it/125x125")
		.col-xs-4.col-sm-2.col-md-1.col-lg-4
			button.btn Participated
		.col-xs-4.col-sm-2.col-md-1.col-lg-4
			button.btn Not Participated
	