
div
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
        .col-xs-6.col-sm-12.col-md-12.col-lg-12
            img.img-responsive.img-thumbnail.center-item(ng-if='hasPicture("user")', src="{{user.picture}}")
            img.img-responsive.img-thumbnail.center-item(ng-if='!hasPicture("user")', src="//placehold.it/500x500")
        .col-xs-6.col-sm-12.col-md-12.col-lg-12.text-center.infoRow
            a(href='/users/{{user._id}}')
                h5 {{user.firstName}} {{user.lastName}}
            h5 Member since: {{user.creationDate | date:'MMM yyyy'}} {{user.creationDate}}
            hr
            button.btn.btn-default.center-item(ng-click='')
                h4 Create Group
        
        
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .panel-default
                .panel-heading(role='button', data-toggle='collapse', data-target='#groups', aria-expanded='true', aria-controls='groups')
                    h4.panel-title
                        a Organizer of <strong>{{user.organizerOf.length}} Groups</strong>
                            span.glyphicon.glyphicon-chevron-down.pull-right(aria-hidden='true')
                .panel-collapse.collapse.in#groups
                    .panel-body
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .col-xs-4.col-sm-12.col-md-6.col-lg-4(ng-repeat='group in user.organizerOf')
                                    a(href='/groups/{{group.id}}')
                                        img.img-responsive.img-thumbnail(src='{{group.picture}}')
                                    h6.oneline {{group.name}}
            .panel-default
                .panel-heading(role='button', data-toggle='collapse', data-target='#subscribered', aria-expanded='true', aria-controls='subscribered')
                    h4.panel-title
                        a Subscribed to <strong>{{user.subscribedTo.length}} Groups</strong>
                            span.glyphicon.glyphicon-chevron-down.pull-right(aria-hidden='true')
                .panel-collapse.collapse#subscribered
                    .panel-body
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .col-xs-4.col-sm-12.col-md-6.col-lg-4(ng-repeat='group in user.subscribedTo')
                                    a(href='/groups/{{group.id}}')
                                        img.img-responsive.img-thumbnail(src='{{group.picture}}')
                                    h6.oneline {{group.name}}
                                    
    .col-xs-12.col-sm-8.col-md-8.col-lg-8.titleBar
        .selectedTab
            | {{selectedTab}} 
        a.cursor-pointer.otherTab(ng-click='setCurrentTab(otherTabs[0])')
            | {{otherTabs[0]}}
        a.cursor-pointer.otherTab(ng-click='setCurrentTab(otherTabs[1])')
            | {{otherTabs[1]}}
                
    .col-xs-12.col-sm-8.col-md-8.col-lg-8
        div(ng-show='getCurrentTab("Upcoming Events")')
            .row(ng-repeat='event in user.volunteeredTo | orderBy:"startTimeDate"')
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.eventDateRow
                    h3 <strong>{{event.startTimeDate | date:'MMM d'}}</strong> 
                    h5 {{event.startTimeDate | date:'EEEE h:m a'}}
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.eventRow
                    h4
                        a(ng-href='/events/{{event.id}}/') {{event.name}}
                        h5 {{event.location.street}} {{event.location.city}}, {{event.location.state}} {{event.location.zipcode}}
                        
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12.navbar-btn
                                img.img-thumbnail(ng-src='/images/interests/{{interest.type}}.png', ng-repeat='interest in event.interests | orderBy: "type"', tooltip='{{interest.type}}')
                    .col-xs-12.col-sm-4.col-md-4.col-lg-4.hidden-xs
                        .row
                            .col-xs-4.col-sm-12.col-md-12.col-lg-12
                                a(ng-href='/events/{{event.id}}/')
                                    img.img-responsive.img-thumbnail(src='{{event.picture}}')
                    .col-xs-12.col-sm-8.col-md-8.col-lg-8
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                h5 {{event.description | limitTo:10000}}
                        
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        .row
                            .hidden-xs
                                .col-xs-12.col-sm-12.col-md-12.col-lg-8
                                    //img.img-thumbnail.volunteer-thumbnail(ng-repeat='volunteer in event.volunteers | limitTo:8', src='{{volunteer.picture}}')
                            .col-xs-12.col-sm-12.col-md-12.col-lg-4
                                h4.text-right {{event.volunteers.length}} / {{event.maxVolunteers}}
                                    | &nbsp
                                    button.btn Volunteer Now
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    | &nbsp
                    
        div(ng-show='getCurrentTab("Past Events")')
            .row(ng-repeat='event in user.volunteeredTo | orderBy:"startTimeDate"')
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.eventDateRow
                    h3 <strong>{{event.startTimeDate | date:'MMM d'}}</strong> 
                    h5 {{event.startTimeDate | date:'EEEE h:m a'}}
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.eventRow
                    h4
                        a(ng-href='/events/{{event.id}}/') {{event.name}}
                        h5 {{event.location.street}} {{event.location.city}}, {{event.location.state}} {{event.location.zipcode}}
                        
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12.navbar-btn
                                img.img-thumbnail(ng-src='/images/interests/{{interest.type}}.png', ng-repeat='interest in event.interests | orderBy: "type"', tooltip='{{interest.type}}')
                    .col-xs-12.col-sm-4.col-md-4.col-lg-4.hidden-xs
                        .row
                            .col-xs-4.col-sm-12.col-md-12.col-lg-12
                                a(ng-href='/events/{{event.id}}/')
                                    img.img-responsive.img-thumbnail(src='{{event.picture}}')
                    .col-xs-12.col-sm-8.col-md-8.col-lg-8
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                h5 {{event.description | limitTo:10000}}
                        
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        .row
                            .hidden-xs
                                .col-xs-12.col-sm-12.col-md-12.col-lg-8
                                    //img.img-thumbnail.volunteer-thumbnail(ng-repeat='volunteer in event.volunteers | limitTo:8', src='{{volunteer.picture}}')
                            .col-xs-12.col-sm-12.col-md-12.col-lg-4
                                h4.text-right {{event.volunteers.length}} / {{event.maxVolunteers}}
                                    | &nbsp
                                    button.btn Volunteer Now
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    | &nbsp
                    
        div(ng-show='getCurrentTab("Recommended Events")')
            .row(ng-repeat='event in user.recommenededEvents | orderBy:"startTimeDate"')
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.eventDateRow
                    h3 <strong>{{event.startTimeDate | date:'MMM d'}}</strong> 
                    h5 {{event.startTimeDate | date:'EEEE h:m a'}}
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.eventRow
                    h4
                        a(ng-href='/events/{{event.id}}/') {{event.name}}
                        h5 {{event.location.street}} {{event.location.city}}, {{event.location.state}} {{event.location.zipcode}}
                        
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12.navbar-btn
                                img.img-thumbnail(ng-src='/images/interests/{{interest.type}}.png', ng-repeat='interest in event.interests | orderBy: "type"', tooltip='{{interest.type}}')
                    .col-xs-12.col-sm-4.col-md-4.col-lg-4.hidden-xs
                        .row
                            .col-xs-4.col-sm-12.col-md-12.col-lg-12
                                a(ng-href='/events/{{event.id}}/')
                                    img.img-responsive.img-thumbnail(src='{{event.picture}}')
                    .col-xs-12.col-sm-8.col-md-8.col-lg-8
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                h5 {{event.description | limitTo:10000}}
                        
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        .row
                            .hidden-xs
                                .col-xs-12.col-sm-12.col-md-12.col-lg-8
                                    //img.img-thumbnail.volunteer-thumbnail(ng-repeat='volunteer in event.volunteers | limitTo:8', src='{{volunteer.picture}}')
                            .col-xs-12.col-sm-12.col-md-12.col-lg-4
                                h4.text-right {{event.volunteers.length}} / {{event.maxVolunteers}}
                                    | &nbsp
                                    button.btn Volunteer Now
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    | &nbsp