h1 Users

h6 {{userId}}

//this code will see if the page will get the information provided by the controller
table.table
	thead
		tr
			th FirstName
			th MiddleName
			th LastName
			th Description
			th Email
			th Birthday
			th Age
			th City
			th ZipCode
			th PhoneNum
			th Picture
			th VolunteeredTo
			th CreaterOf
			th OrganizerOf
			th SubscribedTo
			th GooglePlus
			th Facebook
			th LinkenIn
			th Twitter
			th Interests
			th Skills