h1 Users



h6 {{userId}}



.well
    form.form-horizontal
	    .form-group
		    .col-xs-4
			   img.img-responsive(src='//placehold.it/128x128')
			
				
	


.row
      .col-xs-12.col-md-8 .col-xs-12 .col-md-8
      .col-xs-6.col-md-4 .col-xs-6 .col-md-4
    .row
      .col-xs-6.col-md-4 .col-xs-6 .col-md-4
      .col-xs-6.col-md-4 .col-xs-6 .col-md-4
      .col-xs-6.col-md-4 .col-xs-6 .col-md-4
    .row
      .col-xs-6 .col-xs-6
      .col-xs-6 .col-xs-6			
				

				
				
				
				



