h1 Users



h6 {{userId}}

hr

.well
	form.form-horizontal
		.form-group
			.col-xs-4.col-sm-10.col-md-11.col-lg-11
				img.img-responsive(src='//placehold.it/128x128')
			
				
				



				
				

				
				
				
				



