doctype html
html(ng-app='app')
    head
        //https://developers.google.com/speed/pagespeed/
        // suggestion made by google pagesspeed 
        // http://stackoverflow.com/questions/436411/where-is-the-best-place-to-put-script-tags-in-html-markup
        
        meta(name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=1, user-scalable=no")
        // CSS
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" )
        //link(rel='stylesheet', href='/stylesheets/supernice.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        // JS
        script(src="http://code.jquery.com/jquery-2.1.4.min.js" async)
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" async)
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" async)
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js" async)
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js" async)
        script(src='/js/seniorProjectApp.js' async)
        script(src='/js/controllers/DashboardController.js' async)
        script(src='/js/controllers/EventsController.js' async)
        script(src='/js/controllers/GroupsController.js' async)
        script(src='/js/controllers/HomeController.js' async)
        script(src='/js/controllers/UsersController.js' async)
        script(src='/js/controllers/SignupController.js' async)
        script(src='/js/controllers/LoginController.js' async)
        
        script(src='/js/factories/HomeFactory.js' async)
        script(src='/js/factories/EventFactory.js' async)
        script(src='/js/factories/GroupFactory.js' async)
        script(src='/js/factories/UserFactory.js' async)
        
        script(src='/js/services/HomeService.js' async)
        script(src='/js/services/EventService.js' async)
        script(src='/js/services/GroupService.js' async)
        script(src='/js/services/UserService.js' async)
        
    title= title
    
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button(class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbarMain')
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand.navbar-brand(href='/') <strong>Senior Project</strong>
                
            .collapse.navbar-collapse#navbarMain
                ul.nav.navbar-nav
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/home') Home
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/users') Users
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/dashboard') Dashboard
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/groups') Group
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/events') Events
                ul.nav.navbar-nav.pull-right
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/signup') Sign Up
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/login') Log In
    
  body
    block content
