doctype html
html(ng-app='app')
    head
        meta(name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=1, user-scalable=no")
        // CSS
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        //link(rel='stylesheet', href='/stylesheets/supernice.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        // JS
        script(src="http://code.jquery.com/jquery-2.1.4.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js")
        script(src='/js/seniorProjectApp.js')
        script(src='/js/controllers/DashboardController.js')
        script(src='/js/controllers/EventsController.js')
        script(src='/js/controllers/GroupsController.js')
        script(src='/js/controllers/HomeController.js')
        script(src='/js/controllers/UsersController.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button(class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbarMain')
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand.navbar-brand(href='/') <strong>Senior Project</strong>
                
            .collapse.navbar-collapse#navbarMain
                ul.nav.navbar-nav
                    li
                        a(href='/home') Home
                    li
                        a(href='/users') Users
                    li
                        a(href='/dashboard') Dashboard
                    li
                        a(href='/groups') Group
                    li
                        a(href='/events') Events
    
  body
    block content