doctype html
html(ng-app='app')
    head
        //https://developers.google.com/speed/pagespeed/
        // suggestion made by google pagesspeed 
        // http://stackoverflow.com/questions/436411/where-is-the-best-place-to-put-script-tags-in-html-markup
        
        meta(name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=1, user-scalable=no")
        // CSS
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" )
        //link(rel='stylesheet', href='/stylesheets/supernice.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/palette.1.scss') 
        
        // JS
        script(src="http://code.jquery.com/jquery-2.1.4.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
          // Taking out min : using min version of angular makes more difficult to debug
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js")
        script(src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/7.3.6/ng-file-upload.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/7.3.6/ng-file-upload-shim.min.js")
        script(src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js") // decode base64 in angular
        
        script(src='/js/seniorProjectApp.js')

        script(src='/scripts/angular-validation-match.js')
        
        
        script(src='/js/controllers/DashboardController.js')
        script(src='/js/controllers/EventsController.js')
        script(src='/js/controllers/GroupsController.js')
        script(src='/js/controllers/HomeController.js')
        script(src='/js/controllers/UsersController.js')
        script(src='/js/controllers/SignupController.js')
        script(src='/js/controllers/LoginController.js')
        script(src='/js/controllers/LogoutController.js')
        script(src='/js/controllers/CreateGroupController.js')
        script(src='/js/controllers/CreateEventController.js')
        script(src='/js/filters/FilterHistory.js') 
        
        script(src='/js/factories/HomeFactory.js')
        script(src='/js/factories/EventFactory.js')
        script(src='/js/factories/GroupFactory.js')
        script(src='/js/factories/UserFactory.js')
        script(src='/js/factories/DashboardFactory.js')
        
        script(src='/js/services/HomeService.js')
        script(src='/js/services/EventService.js')
        script(src='/js/services/GroupService.js')
        script(src='/js/services/UserService.js')
        script(src='/js/services/DashboardService.js')
        script(src='/js/services/CreateEventService.js')
        script(src='/js/services/CreateGroupService.js')
        script(src='/js/services/LoginService.js')
        script(src='/js/services/LogoutService.js')
        script(src='/js/services/SignupService.js')
        
        script(src='/js/directives/CardsDirective.js')
        
      
    title= title
    
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button(class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbarMain')
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand.navbar-brand(href='/') <strong>Senior Project</strong>
                
            .collapse.navbar-collapse#navbarMain
                ul.nav.navbar-nav
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/home') Home
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/users') Users
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/dashboard') Dashboard
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/groups') Group
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/events') Events
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/create/group') Create Group
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/create/event') Create Event
                ul.nav.navbar-nav.pull-right
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/signup') Sign Up
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/login') Log In
                    li(data-toggle='collapse', data-target='.navbar-collapse.in')
                        a(href='/logout') Log Out
    
  body
    block content
