[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    padding-top: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
    //color: #00B7FF;
}



.center-item {
   display:block;
   margin: 0 auto;
}

.cursor-pointer {
   cursor: pointer;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.events-pane {
    margin-top: 5px;
    margin-bottom: 5px;
}

.event-description {
    padding-right: 25px;
}
.float-right {
    z-index: 10;
    position: fixed;
    right: 1%;
    top: 80px;
}

.event-item {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
}



.subscriber-thumbnail {
    width: 64px;
    height: 64px;
}

.volunteer-thumbnail {
    width: 54px;
    height: 54px;
    padding-right: 2px;
}

@media screen and (max-width: 768px) {
    .interests-thumbnail {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .volunteer-thumbnail {
        width: 48px;
        height: 48px;
        padding-right: 2px;
    }
    .interests-thumbnail {
        width: 36px;
        height: 36px;
    }
}

/**********************************************************************
    Mouse Cursor CSS START
**********************************************************************/
.cursor-pointer {
   cursor: pointer;
}

/**********************************************************************
    Edit CSS START
**********************************************************************/
.float-btm {
    z-index: 10;
    position: fixed;
    top: 90%;
    right: 20%;
    width: 60%;
}

.float-right {
    z-index: 10;
    position: fixed;
    right: 1%;
    top: 80px;
}

/**********************************************************************
    GROUP Edit CSS START
**********************************************************************/
.not-selected {
    opacity: 0.5;
}

.selected {
    opacity: 1;
    background: rgba(39, 62, 84, 0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.subscriber-thumbnail {
    width: 64px;
    height: 64px;
}

.add:hover {
    border: 2px solid #000000;
    position:relative;
    display:inline-block;
}
.add:hover {
    border: 2px solid #000000;
    position:relative;
    display:inline-block;
}


.remove:hover {
    border: 2px solid #000000;
    position:relative;
    display:inline-block;
}

.addOverlay{
    display: none;
}
.removeOverlay{
    display: none;
}

.add:hover .addOverlay {
    background-color: #00ff00;
    opacity: .6;
    position: absolute;
    display:inline-block;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
}
.remove:hover .removeOverlay {
    background-color: #ff0000;
    opacity: .6;
    position: absolute;
    display:inline-block;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
}

.glyphicon-lg-center {
    font-size: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.added {
    position:relative;
    display:inline-block;
    opacity: .4;
}



/**********************************************************************
    GROUP CSS START
**********************************************************************/
.eventRow {
    padding-top: 5px;
    padding-bottom: 5px;
}

.eventBody {
    border-left: solid;
    border-bottom: solid;
    border-top: solid;
}

.eventDateRow {
    border-left: solid thick #ff0000;
}

.infoRow {
    padding-top: 15px;
    padding-bottom: 15px;
}

.oneline {
    white-space: nowrap;
    overflow: hidden;
}

.upcomingEventsRow {
    background-color: #eeeeee;
}

/**********************************************************************
    DASHBOARD CSS START
**********************************************************************/
.titleBar {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid #cccccc;
}

.selectedTab {
	color: black;
	font-weight: bold;
    font-size: 1.8em;
    padding-bottom: 5px;
}

.otherTab {
    font-size: 1em;
    margin-left: 2%;
    padding-left: 5px;
    border-left: solid #000000;
}

.volunteerRow {
	margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid thin ;
}

.carousel-control {
  width:5%;
}

.organizersRow {
    background-color: #eeeeee;
}

/**********************************************************************
    CREATE_EVENT CSS START
**********************************************************************/
.form-horizontal {
    width:500px;
}

.datetime-picker-dropdown {

}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.time-picker-menu div > table {

}

/**********************************************************************
    Event CSS END
**********************************************************************/

.event-item {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

/***********************************************************************
    John's CSS
***********************************************************************/



/*.navbar, .navbar-collapse {
    //background-color: #333;
    background-color: #0b0715;
}

html, body {
    //background-color: #f4f3ee;
    background-color: #b5b6d7;
}

.nav, .nav-tabs, .nav li {
    background-color: #5a5rc4;
}

.well, .panel, .panel-default, .panel-heading, .panel-body, .panel-footer {
    //background-color: #9998a5;
}*/
