body {
	padding-top: 40px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.center-item {
   display:block;
   margin: 0 auto;
}

.center-vertical {
    height: 100%; display:table-cell; vertical-align: middle;
  float:none;
  margin:0 auto;
}

.container-fluid {
    padding: 0px;
}

.float-right {
	z-index: 10;
	position: fixed;
	right: 1%;
	top: 80px;
}
/**********************************************************************
    Event CSS START
**********************************************************************/
.titleRow {
    background-color: #eeeeee;
}

.calendarRow {
    background-color: #cccccc;
}

.upcomingEventsRow {
    background-color: #eeeeee;
}

.administratorsRow {
    background-color: #cccccc;
}

.subsribersRow {
    background-color: #eeeeee;
}

.descriptionRow {
    background-color: #e5e5e5;
}

.organizersRow {
    background-color: #eeeeee;
}

.volunteersRow {
    background-color: #e5e5e5;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}
/**********************************************************************
    Event CSS END
**********************************************************************/